<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Angular Examples</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-touch.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-animate.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body ng-app="App">
    <div class="container-fluid">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav navbar-nav">
                            <li class="active"><a style="font-size: 36px" href="#/home">Home</a></li>
                            <li><a style="font-size: 36px" href="#/settings">Settings</a></li>
                            <li><a style="font-size: 36px" href="#/about">About</a></li>
                            <li><a style="font-size: 36px" href="#/data">DataFromRoute</a></li>
                            <li><a style="font-size: 36px" href="#/data/123">DataFromQueryString</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-view=""></div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="home.html">
    <div class="well" align="center" style="padding:0px;">
        <span style="font-size: 60px;">{{informationsystem}}</span>
    </div>
    <div>       
       <form role="form" class="form-horizontal">
            <div class="form-group">
                <label  for="input" class="col-md-1 control-label" style="font-size:18px;">Search:</label>
                <div class="col-md-4">
                    <input class="form-control" type="text" ng-model="query" />
                </div>
                <input class="btn btn-danger col-md-1" type="button" ng-click="query=''" value="Clear" />  
            </div>            
        </form>  
        <div style="padding: 20px">
            <table class="table table-hover table-bordered" cellspacing="0" cellpadding="10" width="100%" >
                <thead>
                    <tr class="well">
                        <th align="center" style="text-align: center;font-size:18px;">Id</th>
                        <th align="center" style="text-align: center;font-size:18px;">Name</th>
                        <th align="center" style="text-align: center;font-size:18px;">Team</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="emp in EmpData | filter:query | orderBy:'name'">
                        <td align="center">{{emp.id}}</td>
                        <td align="center">{{emp.name}}</td>
                        <td align="center">{{emp.team}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--<ul>
        <li ng-repeat="emp in EmpData | filter:query | orderBy:'id'">Id:{{emp.id}}  Name:{{emp.name}}</li>
    </ul>-->
        <div class="well col-md-12">    
            <button class="btn btn-success" type="button" ng-click="OperationUsingFactory()">Operation Using Factory</button>
            <button class="btn btn-success" type="button" ng-click="OperationUsingService()">Operation Using Service</button>
            <button class="btn btn-success" type="button" ng-controller="AppModuleCtrl" ng-click="AppModuleMethod()">Operation Using External Module</button>
        </div>
     


    Without Filter:<b>{{data}}</b><br />
    With Custom Filter:<b>{{data|customFilter}}</b>
    UnitTesting:{{query|reverseFilter}}
    <br />
    </script>
    <script type="text/ng-template" id="settings.html">
       <h2>{{message}}</h2>
    </script>

    <script type="text/ng-template" id="about.html">
        <h2>{{message}}</h2>
         <h2><span my-anim="disp">Animation</span></h2>
        <button class="btn btn-success" type="button" ng-click="btnClick($event)">Click</button>
    </script>

    <script type="text/ng-template" id="datascroll.html">
        <h2>{{message}}</h2>
         <div id="divImage" custom-scroll
            style="margin-top: 20px; width: 600px;border: 1px solid gray">
            <div id="content" style="background-color: aliceblue;right:0px; position: relative;display: inline-flex;-webkit-user-select: none;">
                <img draggable="false" style="height: 120px; padding: 15px; margin-left: 10px; width: 120px;" ng-repeat="image in imageData" ng-src="{{image[1]}}" />
                <!--ng-src="data:image/gif;base64,{{image}}" overflow-x: auto; overflow-y: hidden;ng-src="data:image/gif;base64,{{image[1]}}-->
            </div>
        </div>
        <div>
            Changing Scroll Direction Dynamically for Desktop and Touch Devices
        </div>        
    </script>

    <script type="text/ng-template" id="data.html">
        queryStringData:<h2>{{queryStringData}}</h2>
        valueFromRoute:<h2>{{valueFromRoute}}</h2>
    </script>

    <script type="text/javascript">
        var App = angular.module('App', ['ngRoute', 'AppModule', 'ngTouch', 'ngAnimate']);

        App.config(['$routeProvider',
            function ($routeProvider) {
                $routeProvider.
                    when('/home', {
                        templateUrl: 'home.html',
                        controller: 'AppCtrl'
                    }).
                    when('/settings', {
                        templateUrl: 'settings.html',
                        controller: 'settings'
                    }).
                    when('/about', {
                        templateUrl: 'about.html',
                        controller: 'about'
                    }).
                    when('/data', {
                        templateUrl: 'data.html',
                        controller: 'data',
                        value: 1
                    }).
                    when('/data/:id', {
                        templateUrl: 'data.html',
                        controller: 'data'
                    }).
                    when('/data/custom/scroll', {
                        templateUrl: 'datascroll.html',
                        controller: 'datascroll'
                    }).
                    otherwise({
                        redirectTo: '/home'
                    });
            }]);

        App.controller('datascroll', function ($scope, $route) {
            $scope.message = "Custom Scroll";
            $scope.imageData = [
                [1, "http://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/TEIDE.JPG/220px-TEIDE.JPG"],
                [2, "http://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/TEIDE.JPG/220px-TEIDE.JPG"],
                [3, "http://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/TEIDE.JPG/220px-TEIDE.JPG"],
                [4, "http://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/TEIDE.JPG/220px-TEIDE.JPG"],
                [5, "http://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/TEIDE.JPG/220px-TEIDE.JPG"],
                [6, "http://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/TEIDE.JPG/220px-TEIDE.JPG"],
                [7, "http://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/TEIDE.JPG/220px-TEIDE.JPG"],
                [8, "http://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/TEIDE.JPG/220px-TEIDE.JPG"],
                [9, "http://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/TEIDE.JPG/220px-TEIDE.JPG"],
                [10, "http://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/TEIDE.JPG/220px-TEIDE.JPG"]
            ];
        });

        App.controller('settings', function ($scope, $route) {
            $scope.message = "Settings";
        });

        App.animation('.red', function () {
            return {
                addClass: function (ele, className, done) {
                    //console.log('added');
                    //console.log(ele);
                    //console.log(className);
                    //console.log(done());
                    ele[0].style.color = "red";
                    ele[0].style.fontSize = '';
                    ele[0].style.transition = "color 1s, font-size 1s";
                },
                removeClass: function (ele, className, done) {
                    //console.log('removed');
                    //console.log(ele);
                    //console.log(className);
                    //console.log(done());
                    ele[0].style.color = "orange";
                    ele[0].style.fontSize = '112px';
                    ele[0].style.transition = "color 1s, font-size 1s";
                }
            };
        });

        App.directive('myAnim', function ($animate) {
            return {
                restrict: 'A',
                link: function ($scope, ele, attr) {
                    $scope.$watch(attr.myAnim, function (newvalue, oldvalue) {
                        if (newvalue) {
                            //ele.css('color', 'green');
                            //ele[0].style.color = "green";
                            //ele[0].style.opacity = 1;
                            //ele[0].style.transition = "color 1s";
                            //  $animate.addClass(ele, 'green');
                            $animate.removeClass(ele, 'red');
                        }
                        else {
                            // ele.css('color', 'red');
                            //ele[0].style.color = "red";
                            //ele[0].style.opacity = 1;
                            //ele[0].style.transition = "color 1s";
                            $animate.addClass(ele, 'red');
                            //   $animate.removeClass(ele, 'green');
                        }
                    });

                }
            };
        });

        App.directive('customScroll', function ($document) {
            return {
                restrict: 'A',
                link: function ($scope, ele, attr) {
                    ele[0].style.overflow = "hidden";
                    var flag = false, downX, currentX, currentRight, currentLeft;
                    var mousedown = function (e) {
                        flag = true;
                        downX = e.clientX || e.touches[0].clientX;
                        currentX = e.clientX || e.touches[0].clientX;
                        currentRight = ele[0].querySelector('div').style.right;
                    };
                    var mousemove = function (e) {
                        if (flag) {
                            currentX = e.clientX || e.touches[0].clientX;
                            var currentRightValue = (parseInt(currentRight.substring(0, currentRight.length - 2)));
                            var ScrollHeight = ele[0].querySelector('div').offsetWidth - ele[0].offsetWidth;
                            var elementStyle = ele[0].querySelector('div').style;
                            if (currentX < downX) {
                                if (e.type == "touchmove") {
                                    if ((currentRightValue + (downX - currentX)) >= 0 && (currentRightValue + (downX - currentX)) <= ScrollHeight) {
                                        elementStyle.right = currentRightValue + (downX - currentX) + 'px';
                                    } else if ((currentRightValue + (downX - currentX)) > ScrollHeight) {
                                        elementStyle.right = ScrollHeight + 'px';
                                    }
                                } else {
                                    if (currentRightValue + (currentX - downX) > 0) {
                                        elementStyle.right = currentRightValue + (currentX - downX) + 'px';
                                    } else {
                                        elementStyle.right = '0px';
                                    }
                                }
                            }
                            else if (currentX > downX) {
                                if (e.type == "touchmove") {
                                    if ((currentRightValue - (currentX - downX)) >= 0 && (currentRightValue - (currentX - downX)) <= ScrollHeight) {
                                        elementStyle.right = currentRightValue - (currentX - downX) + 'px';
                                    } else if ((currentRightValue - (currentX - downX)) < 0) {
                                        elementStyle.right = '0px';
                                    }
                                } else {
                                    if ((currentRightValue - (downX - currentX)) < ScrollHeight) {
                                        elementStyle.right = currentRightValue - (downX - currentX) + 'px';
                                    } else {
                                        elementStyle.right = ScrollHeight + 'px';
                                    }
                                }
                            }
                        }
                    };
                    var mouseup = function (e) {
                        flag = false;
                    };
                    ele[0].onmousedown = mousedown;
                    ele[0].addEventListener('touchstart', mousedown);
                    ele[0].onmousemove = mousemove;
                    ele[0].addEventListener('touchmove', mousemove);
                    $document[0].onmouseup = mouseup;
                    $document[0].addEventListener('touchup', mouseup);
                }
            };
        });

        App.controller('about', function ($scope, $route) {
            $scope.message = "About";
            $scope.disp = false;
            $scope.btnClick = function (e) {
                $scope.disp = !$scope.disp;
            };
        });

        App.controller('data', function ($scope, $route, $routeParams) {
            $scope.queryStringData = $routeParams.id || "No id in Query String";
            $scope.valueFromRoute = $route.current.value || "No value from Route";
        });

        App.controller('AppCtrl', function ($scope, AppFactory, AppService) {

            $scope.informationsystem = "Information System";

            $scope.data = "Data";

            $scope.query = "";

            $scope.EmpData = [{
                id: 1,
                name: "Neo",
                team: "Matrix"
            }, {
                id: 5,
                name: "Morpheus",
                team: "Matrix"
            }, {
                id: 3,
                name: "Raja",
                team: "Sky"
            }, {
                id: 2,
                name: "Nairobi",
                team: "Matrix"
            }, {
                id: 6,
                name: "Stark",
                team: "Marvel"
            }, {
                id: 4,
                name: "Pepper",
                team: "Marvel"
            }];

            $scope.OperationUsingFactory = function () {
                AppFactory.factoryMethod();
            };

            $scope.OperationUsingService = function () {
                AppService.serviceMethod();
            };

        });

        App.factory('AppFactory', function () {
            return {
                factoryMethod: function () {
                    alert('factory method');
                }
            };
        });

        App.filter('customFilter', function () {
            return function (data) {
                // alert('customFilter');
                return "Filtered Data";
            };
        });

        App.filter('reverseFilter', function () {
            return function (data) {
                return data.split('').reverse().join('');
            };
        });

        App.service('AppService', function () {
            this.serviceMethod = function () {
                alert('service method');
            }
        });

    </script>

    <script type="text/javascript">
        //  setTimeout(function () {
        var AppModule = angular.module('AppModule', []);

        AppModule.controller('AppModuleCtrl', function ($scope) {
            $scope.AppModuleMethod = function () {
                alert('Operation Using External Module');
            };
        });
        //   }, 2000);
    </script>

<!--    <script>
        describe('filter', function () {
            beforeEach(module('App'));
            describe('reverseFilter', function () {
                it('should revese a string', inject(function (reverseFilter) {
                    expect(reverseFilter('ABC').toEqual('CBA'));
                }));
            });
        });
    </script>-->

</body>
</html>
