<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>App</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body ng-app="App" ng-controller="appCtrl">
    <div class="container" style="margin: 200px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>app</h4>
            </div>
            <div class="panel-body">
                <div>
                    <form class="form-horizontal col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-3">name</label>
                            <div class="col-md-9">
                                <input type="text" ng-model="a" class="form-control" pattern="[a-zA-Z]+"  maxlength="26" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">address</label>
                            <div class="col-md-9">
                                <input type="text" ng-model="b" class="form-control"  pattern="[a-zA-Z]+" maxlength="26" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h1 ng-bind="rel" style="text-align: center; height: 50px;"></h1>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12" style="text-align: right;">
                        <input type="button" class="btn btn-success" ng-click="findR()" value="click" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var app = angular.module('App', []);
        app.controller('appCtrl', function ($scope) {
           

            var x,y,i,j,k,l,flag=0,count=0,v,n,temp;
            $scope.findR = function () {
                 var n1=$scope.a,n2=$scope.b;
                if (n1!= null && n2 != null) {
                   // $scope.rel = "asdf";
                    for(i=0;i<n1.length;i++)
{
for(j=0;j<n2.length;j++)
{
if(n1[i]==n2[j])
{
temp=n1[i];
flag=1;
}
}
if(flag==1)
{
for(k=0;k<n1.length;k++)
{
if(temp==n1[k])
n1[k]=null;
}
for(l=0;l<n2.length;l++)
{
if(temp==n2[l])
n2[l]=null;
}
}
flag=0;
}
for(v=0;v<n1.length;v++)
{
if(n1[v]!=null)
count++;
}
for(v=0;v<n2.length;v++)
{
if(n2[v]!=null)
count++;
}
$scope.rel = count;
                } else {
                    alert('Input values are invalid')
                }
            };
        });
    </script>
</body>
</html>
